* {
    margin: 0;
    padding: 0;
}

.flexContainer {
    display: flex;
}

.siteWrapper {
    flex-direction: column;
}

.buttonGroup, .centerContent, .searchField, .searchForm {
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.searchField {
    margin-top: 10px;
}

.buttonGroup {
    flex-direction: row;
    margin-top: 15px;
}

.buttonGroup button {
    margin-left: 5px;
    margin-right: 5px;
}

ul.navbar {
    list-style-type: none;
    background-color: grey;
    display: block;
    width: 100%;
    padding: 15px;
}

ul.navbar a {
    text-decoration: none;
    padding: 15px;
}

.navGroup1 {
    float: left;
}

.navGroup2 {
    float: right;
}