.gridContainer {
    display: grid;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.footerBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerBar li {
    display: inline;
}