.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}